<%- include('../parts/header.ejs') %>
<body>

<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Navbar -->
    <%- include('../parts/navbar.ejs') %>

    <!-- Sidebar Start -->
    <%- include('../parts/sidebar.ejs') %>

    <!-- Main Container Start -->
    <main class="main--container">
        <!-- Page Header Start -->
        <section class="page--header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Page Title Start -->
                        <h2 class="page--title h5">Daftar TIM</h2>
                        <!-- Page Title End -->

                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/team">Tim</a></li>
                            <% if (status === 'active') { %>
                                <li class="breadcrumb-item"><a href="/team?status=active">Aktif</a></li>
                            <% } else if (status === 'inactive') { %>
                                <li class="breadcrumb-item"><a href="/team?status=active">Non-Aktif</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page Header End -->

        <!-- Main Content Start -->
        <section class="main--content">
            <div class="panel">
                <!-- Records Header Start -->
                <div class="records--header">
                    <div class="title fa-users">
                        <h3 class="h3">Daftar TIM
                            <% if (status === 'active') { %>
                                <button class="btn btn-sm btn-success"
                                        disabled>Aktif
                                </button>
                            <% } else if (status === 'inactive') { %>
                                <button class="btn btn-sm btn-danger"
                                        disabled>Non-Aktif
                                </button>
                            <% } %>
                        </h3>
                        <p>Data ditemukan <%- count; %></p>
                    </div>

                    <div class="actions">
                        <form method='post' action="/team/search" class="search flex-wrap flex-md-nowrap">
                            <input type="text" name='value' class="form-control" placeholder="Cari nama tim..."
                                   required>
                            <button type="submit" class="btn btn-rounded"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <!-- Records Header End -->
            </div>

            <div class="panel">
                <!-- Records List Start -->
                <div class="records--list"
                     data-title="<%- status === 'active' ? 'TIM DENGAN STATUS AKTIF' : status === 'inactive' ? 'TIM DENGAN STATUS NON-AKTIF' : status === 'search' ? 'HASIL PENCARIAN' : 'SEMUA TIM'; %>">
                    <table id="recordsListView">
                        <thead>
                        <tr>
                            <th>Nama Tim</th>
                            <th>Email</th>
                            <th>No Telepon</th>
                            <th>Kategori</th>
                            <th>Ide Tim</th>
                            <th>Status Pembayaran</th>
                            <th>Status</th>
                            <th>Detail</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% team.map((item) => { %>
                            <!-- Table Row Start -->
                            <tr>
                                <td><%- item.name; %></td>
                                <td><%- item.email; %></td>
                                <td><%- item.phone; %></td>
                                <td><%- item.category; %></td>
                                <td><%- item.idea.title; %></td>
                                <td>
                                    <span class="label label-<%- item.payment.status ? 'success' : 'danger'; %>"><%- item.payment.status ? 'PAID' : 'UNPAID'; %></span>
                                </td>
                                <td>
                                    <span class="label label-<%- item.status ? 'success' : 'danger'; %>"><%- item.status ? 'Aktif' : 'Non-Aktif'; %></span>
                                </td>
                                <td><a href='/team/<%- item._id; %>'><i class='fa fa-edit'></i></a></td>
                            </tr>
                            <!-- Table Row End -->
                        <% }); %>
                        </tbody>
                    </table>
                </div>
                <!-- Records List End -->
            </div>
        </section>
        <!-- Main Content End -->

        <%- include('../parts/main-footer.ejs') %>
    </main>
    <!-- Main Container End -->
</div>
<!-- Wrapper End -->

<!-- Scripts -->
<%- include('../parts/scripts') %>
