<%- include('../parts/header.ejs') %>
<body>

<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Navbar -->
    <%- include('../parts/navbar.ejs') %>

    <!-- Sidebar Start -->
    <%- include('../parts/sidebar.ejs', {isActive : 'home-page'}) %>

    <!-- Main Container Start -->
    <main class="main--container">
        <!-- Page Header Start -->
        <section class="page--header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Page Title Start -->
                        <h2 class="page--title h5">Home</h2>
                        <!-- Page Title End -->

                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active"><a href="/">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page Header End -->

        <!-- Main Content Start -->
        <section class="main--content">
            <div class="row gutter-20">
                <div class="col-md-4">
                    <div class="panel">
                        <div class="miniStats--panel">
                            <div class="miniStats--header bg-darker">
                                <h3 class="panel-title text-white">TOTAL PENDAPATAN</h3>
                            </div>

                            <div class="miniStats--body">
                                <i class="miniStats--icon fa fa-money-bill-alt text-blue"></i>
                                <p class="miniStats--num text-blue">
                                    Rp <%- new Intl.NumberFormat('de-DE').format(balance); %></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel">
                        <div class="miniStats--panel">
                            <div class="miniStats--header bg-darker">
                                <h3 class="panel-title text-white">TOTAL TIM AKTIF</h3>
                            </div>

                            <div class="miniStats--body">
                                <i class="miniStats--icon fa fa-users text-orange"></i>
                                <p class="miniStats--num text-orange"><%- active; %></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel">
                        <div class="miniStats--panel">
                            <div class="miniStats--header bg-darker">
                                <h3 class="panel-title text-white">TOTAL SEMUA TIM</h3>
                            </div>

                            <div class="miniStats--body">
                                <i class="miniStats--icon fa fa-users text-green"></i>
                                <p class="miniStats--num text-green"><%- count; %></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="panel">
                        <div class="miniStats--panel">
                            <div class="miniStats--header bg-darker">
                                <h3 class="panel-title text-white">KATEGORI (STATUS PEMBAYARAN PAID)</h3>
                            </div>
                            <div class="miniStats--body">
                                <canvas id="categoryChart" height='138' role="img"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel">
                        <div class="miniStats--panel">
                            <div class="miniStats--header bg-darker">
                                <h3 class="panel-title text-white">STATUS PEMBAYARAN</h3>
                            </div>
                            <div class="miniStats--body">
                                <canvas id="teamChart" height='100' width='100' role="img"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                TIM TERBARU
                            </h3>
                        </div>

                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table style--2">
                                    <thead>
                                    <tr>
                                        <th>Nama Tim</th>
                                        <th>Email</th>
                                        <th>No Telepon</th>
                                        <th>Kategori</th>
                                        <th>Approval</th>
                                        <th>Status</th>
                                        <th>Pembayaran</th>
                                        <th>Detail</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% team.map((item) => { %>
                                        <% const isReadyApproval = item.member_one.id_image && item.member_two.id_image && item.member_three.id_image; %>
                                        <!-- Table Row Start -->
                                        <tr>
                                            <td><%- item.name; %></td>
                                            <td><%- item.email; %></td>
                                            <td><%- item.phone; %></td>
                                            <td><%- item.category; %></td>
                                            <td>
                                                <span class="label label-<%- isReadyApproval ? 'success' : 'danger'; %>"><%- isReadyApproval ? 'READY' : 'NOT-READY'; %></span>
                                            </td>
                                            <td>
                                                <span class="label label-<%- item.status ? 'success' : 'danger'; %>"><%- item.status ? 'Aktif' : 'Non-Aktif'; %></span>
                                            </td>
                                            <td>
                                                <span class="label label-<%- item.payment.status ? 'success' : 'danger'; %>"><%- item.payment.status ? 'PAID' : 'UNPAID'; %></span>
                                            </td>
                                            <td><a href='/team/<%- item._id; %>'><i class='fa fa-edit'></i></a></td>
                                        </tr>
                                        <!-- Table Row End -->
                                    <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Main Content End -->

        <%- include('../parts/main-footer.ejs') %>
    </main>
    <!-- Main Container End -->
</div>
<!-- Wrapper End -->

<!-- Scripts -->
<%- include('../parts/scripts') %>

<script>
  const teamChart = document.getElementById('teamChart');
  const categoryChart = document.getElementById('categoryChart');

  new Chart(teamChart, {
    type: 'pie',
    data: {
      labels: ['PAID', 'UNPAID'],
      datasets: [{
        label: '',
        data: [<%- paidCount; %>, <%- count - paidCount; %>],
        backgroundColor: [
          'rgba(75, 192, 192, 0.2)',
          'rgba(255, 99, 132, 0.2)',
        ],
        borderColor: [
          'rgba(75, 192, 192, 1)',
          'rgba(255, 99, 132, 1)',
        ],
        borderWidth: 1,
      }],
    },
  });

  new Chart(categoryChart, {
    type: 'bar',
    data: {
      labels: ['Mahasiswa', 'SMA/SMK', 'Internal'],
      datasets: [{
        label: 'PAID',
        data: [<%- mhsCount; %>, <%- smaCount; %>, <%- intCount; %>],
        backgroundColor: [
          'rgba(255, 159, 64, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 99, 132, 0.2)',
        ],
        borderColor: [
          'rgba(255, 159, 64, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 99, 132, 1)',
        ],
        borderWidth: 1,
      }],
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    },
  });
</script>
